.root {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.leftPane, .rightPane {
	display: inline-block;
	position: relative;
	background: #e2f8ff;
	height: 100%;
}

.leftPane {
	width: 30%;
}

.rightPane {
	border-left: 1px solid #77DCFE;
	width: 69%;
}

.roomList {
	position: absolute;
	top: 64px;
	width: 100%;
    height: 90%;
}